<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="author" content="Xingyu Su" />
    <meta name="renderer" content="webkit">
    <meta name="description" content="Xingyu Su's Site" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="http://github.com/SuXY15/SuXY15.github.io/sss.ico" type="image/x-icon" />
    <link rel="alternate" type="application/atom+xml" title="Recent Entries" href="{{ site.feed }}" />
    <style>{% include style.css %}</style>
  </head>

  {{ content }}
</html>
